
*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    margin: 2px;
    background: url('fondohojas.jpg') center; 
    justify-content: center;
}

#contenedor-cabezal{
    display: flex;
	background-color: rgba(0, 0, 0, 0.705);
    padding: 20px;
	height: 130px;

	
}

#titulo{
	color: rgb(224, 224, 224);
    align-items: center;
    padding: 20px;
	height: 10%;
}

#Logo{
    display: block;
    color: rgb(224, 224, 224);
    text-align: left;
	border-radius: 50%;
}

#contenedor-enlaces {
    height: 15px;
    text-align: center; 
	background-color: rgba(0, 0, 0, 0.705);
    padding: 20px;
}

nav ul li {
    display: inline;
	list-style: none;
    margin-bottom: 2px;
	padding: 10px;
}

#contenedorPresentacion{
	display: flex;
    margin: 20px auto;
    min-height: 100%;
    width: 90%;
    background-color: rgba(8, 8, 8, 0.705);
}


#imagenPresentacion {
	display: block;
	padding: 10px;   
}

.contenedorimagen {
	position: relative;
	height: 500px;
	width: 500px;
	margin: 50px 20px;
	float: left;
  }
  
  .contenedorimagen img {
	position: absolute;
	transition: opacity 1.5s ease-in-out;
  }
  
  .contenedorimagen img .imagencontenido:hover {
	opacity: 0;
  }

#presentacionletra{
	margin-left: 200px;
    text-align: left;
	color: rgb(241, 241, 241); 
}

#Opiniones {
	display: block;
       
}

footer {
	
    background-color: rgb(20, 31, 18);
    text-align: center;
    height: 50px;
	width: 90%;
	margin-left: 5%;
    line-height: 30px;
	color: azure;
}
